@charset "utf-8";
/* CSS Document */
p {
    color: rgb(38, 126, 96);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 18px;
    width: 688px;
    background-color: antiquewhite;
    padding: 20px;
}
h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}